<html>

<head>
    <title>脚手架-ES2019从入门到精通</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <%- body %>
    <script src="./index.min.js" charset="utf-8"></script>
    <!-- <script src="./lesson2-1.js"></script>  let const-->
    <!-- <script src="./lesson2-2.js"></script> array -->
    <!-- <script src="./lesson2-2-more.js"></script> -->
    <!-- <script src="./lesson2-3.js"></script> -->
    <!-- <script src="./lesson2-4.js"></script> -->
    <!-- <script src="./lesson2-5.js"></script> -->
    <!-- <script src="./lesson2-6.js"></script> -->
    <!-- <script src="./lesson2-7.js"></script> -->
    <script src="./lesson2-8(class).js"></script>
</body>

</html>